[{"name":"command1","commandLine":"php -v","period":"P2D","roles":["ROLE_1"],"lastRunTime":{"date":"2019-06-15 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Moscow"},"startTime":{"date":"2019-06-14 20:33:57.660328","timezone_type":3,"timezone":"Europe\/Moscow"}},{"name":"command11","commandLine":"php -v","period":"PT1M","roles":["ROLE_1"],"lastRunTime":{"date":"2019-06-16 20:33:55.378989","timezone_type":3,"timezone":"Europe\/Moscow"},"startTime":{"date":"2019-06-16 20:32:57.660358","timezone_type":3,"timezone":"Europe\/Moscow"}},{"name":"command2","commandLine":"php --ini","period":"PT1M","roles":["ROLE_1","ROLE_2"],"lastRunTime":{"date":"2019-06-16 20:33:57.660293","timezone_type":3,"timezone":"Europe\/Moscow"},"startTime":{"date":"2019-06-16 20:32:57.660386","timezone_type":3,"timezone":"Europe\/Moscow"}}]